@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Dirt&display=swap');

body {
  font-family: "Open Sans", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
}

.slidedeck section {
	background-color: white;	
}

h1, h2, h3  {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h1 {
	color: ivory;
    font-size : 120pt;
	line-height : 75px;
    text-align : center;

}

h2 {
	color: ivory;
    font-size : 100pt;
	line-height : 75px;
    text-align : center;

}

h3 { 
	font-size : 60pt;
}

ul {
	list-style: none;
	padding-left: 0;

	li {
		margin-bottom: 0.5em;
	}
}

a {
	text-decoration: none;
	color: #3c6ec9;
	font-weight: bold;
	border-bottom: 14px solid rgba(60, 110, 201, 0.3);
}

section:has(h1,h2) .block-image:nth-of-type(1) img, 
section.coverbg .block-image:nth-of-type(1) img{
	position: absolute;
	top: 0;
	z-index: -10;
	width: 100%;
	object-fit: cover;
}

section.illustration {
	> *:not(.block-image:nth-of-type(1)) {
		margin-left: 50%;
		margin-right : 1.5em;
	}

	.block-image:nth-of-type(1) {
		width : 45%;
		height: 100%;
		position: absolute;
		top: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}

.hidden-title {
	h1, h2, h3 {
		display : none;
	}
}

#cosas-cosicas-br {	
	s span {
		color: #ccc;
	}

	span:has(br) {
		font-size: 60%;
	}
}

#the-good-things {
	h3 {
       transform: rotate(-90deg) translateY(-850px) translateX(170px);
	}
}

#javi {
	.block-image:nth-of-type(2) {
		text-align: center;
		width: 45%;

		img {
			width: 400px;
		}
	}
}